<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9gUDdIJg9DvUUDr86vMq0vb3zQTEg5hY</string>
	<key>GCM_SENDER_ID</key>
	<string>754793882218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meongmeongHairshop</string>
	<key>PROJECT_ID</key>
	<string>meongmeonghairshop</string>
	<key>STORAGE_BUCKET</key>
	<string>meongmeonghairshop.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754793882218:ios:78f67a85e6054361a7a013</string>
</dict>
</plist>